:root{
    --rojo: #da0037;
    --gris: #444444;
    --negro: #171717;
    --blanco: #ededed;
    --blanco-ligero: rgba(237, 237, 237, 0.5);
    --blanco-oscuro: rgba(237, 237, 237, 0.1);
    --inter: 'Inter', sans-serif;
    --dm-sans: 'DM sans', sans-serif;
    --regular: 400;
    --mediano: 500;
    --negrita: 700;
    --oscuro: 900;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: var(--dm-sans);
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    background-color: #171717;
}
h1,h2,h3 {
    font-family: var(--inter);
    font-weight: var(--negrita);
    color: var(--blanco);
}
p {
    color: var(--blanco)
}
a {
    text-decoration: none;
    color: var(--blanco);
}
button {
    border: none;
    font-family: var(--dm-sans);
    font-weight: var(--negrita);
}
button :hover {
    cursor: pointer;
}
.boton {
    display: inline-block;
    min-width: 144px;
    margin: 6px;
    padding: 8px 12px;
    border-radius: 4px;
    text-align: center;
    font-weight: var(--negrita);
    
}
.boton--rojo {
    background-color: var(--rojo);
    color:var(--blanco);
}
.boton--blanco {
    background-color: var(--blanco);
    color: var(--negro);
}
/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}
.header__titulo {
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 3px;
    font-size: 1.8rem;
    font-weight: var(--mediano);
}
/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.heroe {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.heroe__perfil {
    width: 182px;
    height: 182px;
}
.heroe__img {
    width: 182px;
    height: 182px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--rojo);
}
.heroe__titulo {
    text-transform: uppercase;
    text-align: center;
    font-weight: var(--oscuro);
    color: var(--blanco);
}
.heroe__texto {
    color: var(--blanco);
    margin: 16px 0;
}
.heroe__botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.experiencia {
    width: 100%;
    margin: 32px 0;
}
.experiencia__titulo {
    display: inline-block;
    margin-bottom: 16px;
    border-bottom: 3px solid var(--blanco);
}
.experiencia__objeto {
    margin: 24px 0;
}
.experiencia__objeto:nth-child(2) {
    margin-top: 0;
}
.experiencia__objeto:last-child {
    margin-bottom: 0;
}
.experiencia-objeto__titulo {
    margin-bottom: 4px;
}
.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    max-width: 100%;
    width: 100%;
    align-items: center;
}
.formulario__asunto {
    margin: 16px 0;
    padding: 0 16px;
    border-radius: 4px;
    height: 42px;
    min-width: 174px;
    background-color: var(--blanco-oscuro);
    border: 2px solid var(--blanco);
    color: var(--blanco);
}
.formulario__mensaje {
    margin-bottom: 16px;
    padding: 8px 16px 0;
    height: 100px;
    min-width: 174px;
    max-width: 100%;
    max-height: 200px;
    min-height: 42px;
    border-radius: 4px;
    border: 2px solid var(--blanco);
    background-color: var(--blanco-oscuro);
    font-family: var(--dm-sans);
    color: var(--blanco);
}
.footer {
    background-color: var(--gris);
    border-top: 4px solid var(--rojo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 20px;
}
.footer__social-contenedor {
    width: 20px;
    height: 20px;
}
.footer__social-contenedor:nth-child(2) {
    margin: 0 12px;
}
.footer__imagen {
    width: 20px;
    height: 20px;
}
.footer__redes {
    display: flex;
}


